{% extends "layout_vertical.html" %}

{% block contenido_vertical %}
    <!-- Aquí pones los divs que tenías en tu base vertical.html -->
    <div class="w-full h-full overflow-y-auto bg-[#C4DFE6]">
        <div class="flex justify-center">
            <h1 class="mb-4 text-5xl font-bold">1</h1>
        </div>
        <div class="flex justify-center">
            <h1 class="mb-4 text-5xl font-bold">2</h1>
        </div>
        <div class="flex justify-center">
            <h1 class="mb-4 text-5xl font-bold">3</h1>
        </div>
        <div class="flex justify-center">
            <h1 class="mb-4 text-5xl font-bold">4</h1>
        </div>
        <div class="flex justify-center">
            <h1 class="mb-4 text-5xl font-bold">5</h1>
        </div>
    </div>
{% endblock %}