@import "tailwindcss";
@import "tailwind-animations";

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoVariable.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Serif";
  src: url("../fonts/RobotoSerifVariable.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --color-primario: #52969e;
  --color-secundario: #9cbbc6;
  --color-primario-enfoque: #4d8e95;
  --color-secundario-enfoque: #a5bec6;
  --color-negro: #141618;
  --color-placeholder: #b3b3b3;

  --font-roboto: "Roboto";
  --font-roboto-serif: "Roboto-Serif";
}

@utility txt {
  @apply font-roboto text-negro font-stretch-semi-expanded;
}

@utility txt-destacado {
  @apply txt font-medium;
}

@utility titulo {
  @apply font-roboto-serif text-5xl font-bold font-stretch-condensed;
}

@utility subtitulo {
  @apply font-roboto-serif text-2xl font-semibold font-stretch-semi-condensed;
}

@utility btn {
  @apply flex items-center justify-center rounded-xl 
  transition duration-200 hover:-translate-y-0.5;
}

@utility btn-primario {
  @apply btn font-roboto bg-primario hover:bg-primario-enfoque h-10 w-60 truncate px-3 text-base font-semibold text-nowrap text-white;
}

@utility btn-icono {
  @apply btn h-10 w-10 active:scale-90;
}

@utility icono {
  @apply fill-negro h-7 w-7;
}

@utility cabecera-tabla {
    @apply txt-destacado bg-[#66A5AD]
}

@utility celda {
  @apply h-10 border border-[#828282] px-3;
}

@utility fila-tabla {
  @apply transition duration-200 even:bg-[#d9eff1] hover:bg-[#e3e3f1] even:hover:bg-[#d0e7e9];
}

@utility div-centrado {
  @apply flex h-full w-full items-center justify-center;
}

@utility btn-primario-celda {
  @apply btn-primario h-7.5;
}

@utility in {
  @apply h-10 px-4 bg-white border border-[#828282] rounded-xl placeholder:text-placeholder group-hover:border-primario group-hover:border-2 transition duration-200 focus:outline-0 active:scale-95 ;
}